.add-product {
  display: flex;
  flex-direction: column;
}

.add-product__inner {
  position: relative;
}

.add-product__close {
  position: absolute;
  top: 20px;
  right: -64px;
}

.add-product__title {
  margin-bottom: 43px;
  padding-top: 32px;

  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.form__fieldset {
  margin-bottom: 32px;
  padding: 28px;
  border: none;

  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.form__row {
  margin-bottom: 12px;
}

.form__row:last-child {
  margin-bottom: 0;
}

.form__label {
  margin-bottom: 5px;
  padding-left: 10px;
  display: block;

  font-size: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.form__input {
  width: 524px;
  height: 40px;
  border: none;

  background-color: #f4f2ff;
  border-radius: 6px;
}

.form__input:focus-visible {
  outline: none;
}

.form__input:focus {
  box-shadow: 0px 0px 10px rgba(113, 0, 227, 0.5);
}

.form__input:hover {
  box-shadow: 0px 0px 10px rgba(0, 113, 227, 0.5);
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox__input:before {
  position: absolute;
  top: 0;
  left: 0;

  content: '';
  display: block;
  width: 40px;
  height: 40px;
  border: none;

  background-color: #f4f2ff;
  border-radius: 8px;
}

.checkbox__input:after {
  position: absolute;
  top: 12px;
  left: 10px;

  content: '';
  width: 20px;
  height: 10px;
  border: 3px solid black;
  border-top: none;
  border-right: none;

  opacity: 0;
  transform: rotate(-45deg);
}

.checkbox__input:focus-visible {
  outline: none
}

.checkbox__input:checked:after {
  opacity: 1
}

.checkbox__input:focus:before {
  box-shadow: 0px 0px 10px rgba(113, 0, 227, 0.5);
}

.checkbox__input:hover:not(:disabled):before {
  box-shadow: 0px 0px 10px rgba(0, 113, 227, 0.5);
}

.checkbox__input:checked + .form__input--disabled {
  background-color: #f4f2ff;
}

.form__input--disabled {
  width: 474px;
  height: 40px;
  margin-left: 50px;

  background-color: #eee;
}

.textarea {
  width: 524px;
  height: 112px;
  resize: none;
}

.form__btn {
  display: block;
  margin: 0 28px 0 auto;
  padding: 10px 25px;

  font-size: 16px;

  color: #fff;
  background-color: #6d5bd0;
  border-radius: 6px;
}