.form {
  margin-bottom: 28px;
}

.form__content {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 250px));
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    'title description'
    'category description'
    'units count'
    'discount price'
    'picture picture';
  column-gap: 24px;
  padding: 28px;
  border: none;

  background-color: var(--color-light);
  border-radius: 8px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.form__item:not(:last-child) {
  margin-bottom: 12px;
}

.form__item:nth-child(7) {
  margin-bottom: 32px;
}

.form-title {
  grid-area: title;
}

.form-category {
  grid-area: category;
}

.form-units {
  grid-area: units;
}

.form-description {
  grid-area: description;
}

.form-count {
  grid-area: count;
}

.form-discount {
  position: relative;
  grid-area: discount;
}

.form-price {
  grid-area: price;
}

.form-picture {
  grid-area: picture;
  justify-self: end;
}

.form__label {
  display: block;
  margin-bottom: 5px;
  padding-left: 10px;

  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: var(--color-second);
}

.form__input {
  width: 100%;
  height: 40px;
  border: none;
  padding-left: 10px;

  font-family: inherit;

  background-color: var(--background-color-main);
  border-radius: var(--border-radius);
  transition-property: box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.form__input:focus {
  outline: none;
}

.form__input:hover,
.form__input:focus-within {
  box-shadow: var(--shadow);
}

.form-description__input {
  height: 112px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.form-discount__number {
  padding-left: 50px;
}

.form-discount__input {
  max-width: 100%;

  background-color: var(--color-gray);
  transition-property: background-color, outline;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.form-discount__checkbox {
  position: absolute;
  appearance: none;
}

.form-discount__checkbox:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 40px;
  height: 40px;

  background-color: var(--background-color-main);
  border-radius: var(--border-radius);
  transition-property: box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.form-discount__checkbox:hover:before,
.form-discount__checkbox:focus-within:before {
  box-shadow: var(--shadow);
}

.form-discount__checkbox:after {
  content: '';
  position: absolute;
  top: 9px;
  left: 10px;

  display: block;
  width: 20px;
  height: 15px;
  border: 3px solid var(--color-dark);
  border-top: none;
  border-right: none;

  transform: rotate(-45deg);
  opacity: 0;
  transition-property: opacity;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.form-discount__checkbox:checked:after {
  opacity: 1;
}

.form-discount__checkbox:checked + .form-discount__number > .form-discount__input {
  background-color: var(--background-color-main);
}

.form-picture__label {
  display: block;
  padding: 11px 29px 11px 28px;

  font-size: 14px;
  text-transform: uppercase;

  color: var(--color-light);
  background-color: var(--color-accent);
  border-radius: var(--border-radius);
  transition-property: box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.form-picture__input {
  position: absolute;
  z-index: -1;
	opacity: 0;
}

.form-picture__label:hover,
.form-picture__input:focus-within + .form-picture__label {
  box-shadow: var(--shadow);
}

/* Media */

@media (max-width: 767px) {
  .form__content {
    grid-template-columns: 1fr;
    grid-template-areas:
      'title'
      'description'
      'category'
      'units'
      'count'
      'discount'
      'price'
      'picture';

  border-radius: 6px;
  };

  .form-picture {
    justify-self: center;
  }
}

@media (max-width: 540px) {
  .form {
    margin-bottom: 20px;
  }

  .form__content {
    padding: 20px;
  }

  .form-price {
    margin-bottom: 20px;
  }
}
